#container {
    display: flex;
    border: 1px solid sandybrown;
    margin: 25px 25px 25px 25px;

}

#text {
    font-weight: bold;
}

p.form{
    display: inline-block;
    margin: 20px 115px 20px 20px;
    font-size: small;
    font-family: Helvetica;
    
}
p.form1{
    display: inline-block;
    margin: 20px 115px 20px 20px;
    font-size: small;
    font-family: Helvetica;
    
}
p.form2{
    display: inline-block;
    margin: 20px 115px 20px 20px;
    font-size: small;
    font-family: Helvetica;
    
} 

#box1 {
    height: 100%;
    width: 40%;
}

div#box1 #bg{
    width: 100%;
    height: 700px;
}

img#logo {
    width: 300px;
    height: 100px;
    float: left;
    background-color: gainsboro;
}

span#g {
    font-family: tahoma;
    font-style: oblique;
    font-weight: bold;
    color: cadetblue;
    position: absolute;
    left: 60%;
    top: 25%;
}

div#bigg {
    position: absolute;
    top: 20%;
    left: 5%;
}

#box2 {
    font-style: oblique;
    margin: 100px 5px 5px 10px;
    height: 100%;
    width: 60%;
    top: 20%;
}

#green {
    color: darkcyan;
}

#ca {
    background-color: darkcyan;
    border-radius: 10px;
    border: 0px;
    font-size: large;
    margin: 30px;
    padding: 5px 25px 5px 25px;
    font-family: georgia;
}